@page "/"

@using Progress.Nuclia
@using Progress.Nuclia.Model

@inject INucliaDbClient NucliaDbClient

<PageTitle>Home</PageTitle>

<div class="k-display-flex k-flex-col k-gap-6 k-p-6">
    <h1 class="k-text-3xl k-font-bold">A simple ask and response</h1>

    <div class="k-display-flex k-flex-col k-gap-4 k-p-6 k-border k-border-solid k-rounded-md">
        <div class="k-display-flex k-flex-col k-gap-2">
            <label for="query" class="k-font-semibold">Query:</label>
            <input id="query"
                   type="text"
                   class="k-input k-input-solid k-rounded-md k-w-full"
                   @bind="query"
                   placeholder="Enter your question..." />
        </div>
        <button type="button"
                class="k-button k-button-solid k-button-primary k-rounded-md"
                @onclick="HandleSubmit">
            Submit
        </button>
    </div>

    <div class="k-display-flex k-flex-col k-gap-4 k-p-6 k-border k-border-solid k-rounded-md">
        <h3 class="k-text-xl k-font-semibold">Answer:</h3>
        <p class="k-text-base">@answer</p>
    </div>
</div>

@code {

    string query = "Create a question about the data in this knowledge box?";
    string answer = "Enter a query and click Submit...";

    async Task HandleSubmit()
    {
        answer = "Loading...";

        AskRequest askRequest = new AskRequest(query: query);

        var askResponse = await NucliaDbClient.Search.AskAsync(askRequest);

        if (askResponse.Success && askResponse?.Data is not null)
        {
            answer = askResponse.Data.Answer;
        }
        else
        {
            answer = "No answer received.";
        }
    }

}